* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    margin: 0 auto;
    transition: all 0.1s ease-in;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
    box-sizing: border-box;
    
  }
  body {
    background-color: #3399cc;
    border: solid 20px #2b81ac;
    min-height: 100%;
    
  }
  main {
    font-size: 0;
}
h1 {
    font-size: 30px;
    margin-top: 3%;
    margin-left: 10%;
    
  }
  li::first-line {
    color: #f0f8ff;
  }
  h1 i {
    color: #f0f8ff;
  }
  i {
    color: #f0f8ff94;
    font-size: 25px;
  }
.weather_list{
    margin: 5% 20% 5% 20%;
    margin-top: -5px;
}
ul{
    border: solid white 2px;
    line-height: 0;
    font-size: 0;
}
ul li {
    box-sizing: border-box;
    display: inline-block;
    border: solid white 2px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    vertical-align: auto;
    color: #f0f8ff94;
  }
  li p:last-child {
    font-size: 16px;
    color: #f0f8ff94;
  }
li.lisbon,
li.san_francisco {
  width: 50%;
  padding: 20px;
}
li.paris, li.belgrade, li.moscow, li.tel_aviv, li.cair,li.new_york, li.new_dehil, li.tokyo{
    width: 25%;
    padding: 20px;
}
li.sydney{
    width: 100%;
    padding: 20px;
}
.css{
  margin-top: 20px;
font-family: 'Open Sans' sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
text-align: left;
}
.lisban,ul:hover .lisban:hover{
  background: #3399CC;
}
.paris,ul:hover .paris:hover{
  background: #33CCCC;
}
.belgrade,ul:hover .belgrade:hover{
  background: #996699;
}
.moscow,ul:hover .moscow:hover{
background: #C24747;
}
.tel_aviv,ul:hover .tel_aviv:hover{
  background: #E2674A;
}
.cair,ul:hover .cair:hover{
  background: #FFCC66;
}
.new_york,ul:hover .new_york:hover{
background: #99CC99;
}
.new_dehil,ul:hover .new_dehil:hover{
  background: #669999;
}
.san_francisco, ul:hover .san_francisco:hover{
  background: #CC6699;
}
.tokyo,ul:hover .tokyo:hover{
  background: #339966;
}
.sydney,ul:hover .sydney:hover{
  background: #666699;
}
h2{
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding-left: 300px;
  margin-top: -75px;
}
ul:hover li {
  background-color: rgba(255, 255, 255, 0.5);
}